.pagInicial {
    .header {
        position: fixed; 
        top: 0; 
        left: 0;
        width: 100%; 
        background-color: #294181; 
        color: white;
        text-align: center;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        z-index: 1000; 
    }
    .header-link {
        color: white;
        text-decoration: none; /* Remove o sublinhado do link */
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
    }
    .header-link:hover {
        color: white;
    }
    footer{
        background-color: #294181; 
        color: white; 
        text-align: center; 
        padding: 20px; 
        width: 100%; 
        position: relative; 
        bottom: 0;
    }
    .container {
        max-width: 800px;
        margin: auto;
        background-color: #d9e0e7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(151, 151, 151, 0.1);
    }
    a {
        text-decoration: none;
        color: #0000FF;
    }
    a:hover {
        color: #0056b3;
    }    
    .a.link{
        text-decoration: none;
        color: #0000FF
    }
    button {
        background-color: #b9c9dd; 
        color:black;
        border: none; 
        font-weight: bold;
        border-radius: 8px; 
        padding: 15px 30px; 
        font-size: 16px; 
        cursor: pointer; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease; 
        width: 200px; 
        height: 50px; 
        margin: 10px;
        border-left: 5px solid rgb(140, 173, 245);
    }

    button:hover {
        background-color: rgb(161, 179, 218); 
    }

    button:focus {
        outline: none; 
    }

    h1 {
        text-align: center;
        font-size: 40px;
    }
    h2 {
        text-align: center;
        font-size: 30px
    }    
    h3 {
        text-align: left;
    }
    h4{
        font-size: 20px;   
        text-align: center;
    }
    .formula {
        font-size: 1.5em;
        text-align: center;
        background: #b6c5d4;
        padding: 10px;
        border-radius: 5px;
    }
    .image-container {
        text-align: center;
        margin-top: 20px;
    }
    .container2 {
        max-width: 800px;
        margin: auto;
        background-color: #d9e0e7;
        padding: 20px;
        padding-top: 3px;
        padding-bottom: 5px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(151, 151, 151, 0.1);
    }
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        border: 1px solid #b6c5d4;
        text-align: center;
    }
    input {
        width: 100%;
        padding: 5px;
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
.origem {
    .header {
        position: fixed; 
        top: 0; 
        left: 0;
        width: 100%; 
        background-color: #294181; 
        color: white !important;
        text-align: center;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        z-index: 1000; 
    }
    .header-link {
        color: white !important;
        text-decoration: none; /* Remove o sublinhado do link */
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
    }
    .header-link:hover {
        color: white !important;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: white;
    }
    footer{
        background-color: #294181; 
        color: white; 
        text-align: center; 
        padding: 20px; 
        width: 100%; 
        position: relative; 
        bottom: 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: white;
    }
    .container {
        max-width: 800px;
        margin: auto;
        background-color: #d9e0e7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(151, 151, 151, 0.1);
}
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        
    }
    button:hover {
        background-color: #0056b3;
    }

    h1 {
        text-align: center;
        font-size:30px
    }
    h2 {
        text-align: center;
        font-size: 25px;
    }    
    h3 {
        text-align: left;
        font-size: 18px;
    }
    p {
        text-align: justify;
    }
    .formula {
        font-size: 18px;
        text-align: center;
        background: #afbfda;
        background-size: cont;
        font-weight: bold;
        padding: 5px;
        border-radius: px;
    }
    .image-container {
        text-align: center;
        margin-top: 20px;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
.comoCalcular {  
    .header {
        position: fixed; 
        top: 0; 
        left: 0;
        width: 100%; 
        background-color: #294181; 
        color: white !important;
        text-align: center;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        z-index: 1000; 
    }
    .header-link {
        color: white !important;
        text-decoration: none; /* Remove o sublinhado do link */
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
    }
    .header-link:hover {
        color: white !important;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: white;
    }
    footer{
        background-color: #294181; 
        color: white; 
        text-align: center; 
        padding: 20px; 
        width: 100%; 
        position: relative; 
        bottom: 0;
    }
    .container {
        max-width: 800px;
        margin: auto;
        background-color: #d9e0e7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(151, 151, 151, 0.1);
    }
    
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        
    }
    button:hover {
        background-color: #0056b3;
    }

    h1 {
        text-align: center;
        font-size:40px
    }
    h2 {
        text-align: center;
        font-size: 30px
    }    
    h3 {
        text-align: left;
        font-size: 18px;
    }
    p {
        text-align: justify;
    }
    .formula {
        font-size: 18px;
        text-align: center;
        background: #afbfda;
        background-size: cont;
        font-weight: bold;
        padding: 5px;
        border-radius: px;
    }
    .image-container {
        text-align: center;
        margin-top: 20px;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
.calculadora {
    .header {
        position: fixed; 
        top: 0; 
        left: 0;
        width: 100%; 
        background-color: #294181; 
        color: white !important;
        text-align: center;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        z-index: 1000; 
    }
    .header-link {
        color: white !important;
        text-decoration: none; /* Remove o sublinhado do link */
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
    }
    .header-link:hover {
        color: white !important;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: white;
    }
    footer{
        background-color: #294181; 
        color: white; 
        text-align: center; 
        padding: 20px; 
        width: 100%; 
        position: relative; 
        bottom: 0;
    }
    .container {
        max-width: 800px;
        margin: auto;
        background-color: #d9e0e7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(151, 151, 151, 0.1);
    }
    button {
        background-color: #b9c9dd; 
        color:black;
        border: none; 
        font-weight: bold;
        border-radius: 8px; 
        padding: 15px 30px; 
        font-size: 16px; 
        cursor: pointer; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease; 
        width: 200px; 
        height: 50px; 
        margin: 10px;
        border-left: 5px solid rgb(140, 173, 245);
    }

    button:hover {
        background-color: rgb(161, 179, 218); 
    }

    button:focus {
        outline: none; 
    }
    
    h1 {
        text-align: center;
        font-size: 40px;
    }
    h2 {
        text-align: center;
        font-size: 30px
    }    
    h3 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    .formula {
        font-size: 1.5em;
        text-align: center;
        background: #b6c5d4;
        padding: 10px;
        border-radius: 5px;
    }
    .image-container {
        text-align: center;
        margin-top: 20px;
    }
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }
    .button-container {
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }
    th, td {
        padding: 10px;
        border: 1px solid #d9e0e7;
        text-align: center;
    }
    input {
        width: 100%;
        padding: 5px;
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
}
.exercicios {
    .header {
        position: fixed; 
        top: 0; 
        left: 0;
        width: 100%; 
        background-color: #294181; 
        color: white !important;
        text-align: center;
        padding: 15px;
        font-size: 24px;
        font-weight: bold;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        z-index: 1000; 
    }
    .header-link {
        color: white !important;
        text-decoration: none; /* Remove o sublinhado do link */
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
    }
    .header-link:hover {
        color: white !important;
    }
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: white;
    }
    footer{
        background-color: #294181; 
        color: white; 
        text-align: center; 
        padding: 20px; 
        width: 100%; 
        position: relative; 
        bottom: 0;
    }
    .container {
        max-width: 800px;
        margin: auto;
        background-color: #d9e0e7;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(151, 151, 151, 0.1);
    }
    button {
        background-color: #b9c9dd; 
        color: black;
        border: none; 
        font-weight: bold;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px; 
        cursor: pointer; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease; 
        border-left: 5px solid rgb(140, 173, 245);
        
    }
    
    button:hover {
        background-color: rgb(161, 179, 218); 
    }
    
    button:focus {
        outline: none; 
    }
    
    h1 {
        text-align: center;
        font-size: 40px;
    }
    h2 {
        text-align: center;
        font-size: 30px
    }    
    h3 {
        text-align: left;
    }
    h4{
        font-size: 20px;   
        text-align: center;
    }
    .formula {
        font-size: 1.5em;
        text-align: center;
        background: #b6c5d4;
        padding: 10px;
        border-radius: 5px;
    }
    .image-container {
        text-align: center;
        margin-top: 20px;
    }
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }
    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    th, td {
        padding: 10px;
        border: 1px solid #d9e0e7;
        text-align: center;
    }
    input {
        width: 100%;
        padding: 5px;
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
    .exercicio {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid #d9e0e7;
        border-radius: 5px;
        text-align: left;
    }
    input {
        width: 100px;
        padding: 5px;
        text-align: center;
    }
    .resultado {
        font-weight: bold;
        margin-top: 5px;
    }
}